/*********************************/
/*HEADER*/
/*********************************/

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /*as we want header to b sticky..means it shouldnt move so declaring heigth*/
  height: 9.6rem;
  padding: 0 4.8rem;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.logo {
  height: 2.2rem;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY */

/* as navigation is postioned absolutely and we want stciky navigation to come fater hero section is passed, so it jumps at that as absolutly positioned element moves out of the page 
so will add exact sam height as of navigation ..in this case we will add heightin section hero and that should be applied only when sticky is there in header but header is not a parent element of .section-hero
so will add sticky to body element , so that it will be parent of both n we can writre below */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  height: 8rem;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
  box-shadow: 0 1.2rem, 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}
/*********************************/
/* NAVIGATION*/
/*********************************/

.main-nav-list {
  list-style: none;
  align-items: center;
  display: flex;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

/*both are used as navcts shouldalways be applie..check specifivity, making sure it always applies*/
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/*********************************/
/*HERO SECTION*/
/*********************************/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/*********************************/
/* FEATURED IN*/
/*********************************/

.section-featured {
  padding: 4.8rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
  text-align: center;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  /* make the logos grey.. */
  filter: brightness(0);
  opacity: 50%;
}

/*********************************/
/*HOW IT WORKS*/
/*********************************/
.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  position: absolute;
  /* top n left centered the square */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.step-img-box::before {
  width: 60%;

  /* height: 60%; */

  /* the height declared above didnt work, as we want a squareto do that we want height ---hack to add height add padding-bottom as this will be added to width of element and it will 60% of parents width */

  padding-bottom: 60%;
  background-color: #fdf2e9;
  /* z-index one with lowe value appears first..used here to push the cirle in background so used minus  */
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-img {
  width: 35%;
}

/*********************************/
/*Meals*/
/*********************************/
.section-meals {
  padding: 9.6rem 0;
}

.meals {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;

  /* as we have added border radius, at top image corners are still sqaure as imahe is above the shadow..i.e image is overflowing the container so use overflow property */

  overflow: hidden;
  transition: all 0.4s;
}

.meals:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-contents {
  padding: 4.8rem;
  padding-top: 3.2rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--palemo {
  background-color: #ffd43b;
}

.meal-img {
  width: 100%;
}

.meal-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;

  /* can use fontsize also to size the icons as sometimesabove cant work
similarly for coloring the icon we gor for 'stroke' or 'fill' but if tht doesn't work go rfor color */

  color: #e67e22;
}
.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/*********************************/
/* TESTIMONIALS*/
/*********************************/
.section-testimonials {
  background-color: #fdf2e9;
  align-items: center;
  display: grid;
  grid-template-columns: 55fr 45fr;
}

.testimonial-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

/* setting as block because when we initialyy load the imags ithas smallwhite space arounfas they are inline elements */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  /* height: 100%; */
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/*********************************/
/*PRICING*/
/*********************************/
.section-pricing {
  padding: 9.6rem 0;
}

.pricing {
  border-radius: 11px;

  width: 75%;
}

.plan--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
  /* thepadding for both aredifferent as we have added 2 px border it gets added up to 4.8rem */
  /* as we want the first plan to justify */
}

.plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
  /* overflow should always be written on parentelement */
}

.plan--complete::after {
  content: "Best value";
  text-transform: uppercase;
  position: absolute;
  padding: 0.8rem 8rem;
  background-color: #ffd43b;
  color: #333;
  top: 6%;
  /* for flexible using% */
  right: -18%;
  transform: rotate(45deg);
}
.plan-header {
  margin-bottom: 4.8rem;
  text-align: center;
}

.plan-name {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.75;
  color: #cf711f;
  margin-bottom: 3.2rem;
  font-weight: 600;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.2rem;
}

.plan-price span {
  font-weight: 500;
  font-size: 3rem;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.price-condition {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/*********************************/
/*CTA*/
/*********************************/
.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.015);
  background-image: linear-gradient(to right bottom #eb984e, #e67e22);
}
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-text {
  color: #45260a;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  /* as we have set the image over here the html contents is blank n so screen eaders wontbeable to load this image/display */
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(221, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-position: center;
  background-size: cover;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  /* outline: 4px dotted #e67e22;

  outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/*********************************/
/*FOOTER*/
/*********************************/
.footer {
  padding: 9.6rem 0;
  border-top: 1px solid #eee;
}
.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icons {
  height: 2.4rem;
  width: 2.4rem;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  /* to make copyright in end */
  margin-top: auto;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.add {
  margin-bottom: 2.4rem;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-link:visited,
.footer-link:link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
